In [22]:
import pandas as pd
import os
import shutil

In [6]:
df = pd.read_csv('data/styles.csv', on_bad_lines='skip')
df.head()

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName
0,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,2011.0,Casual,Turtle Check Men Navy Blue Shirt
1,39386,Men,Apparel,Bottomwear,Jeans,Blue,Summer,2012.0,Casual,Peter England Men Party Blue Jeans
2,59263,Women,Accessories,Watches,Watches,Silver,Winter,2016.0,Casual,Titan Women Silver Watch
3,21379,Men,Apparel,Bottomwear,Track Pants,Black,Fall,2011.0,Casual,Manchester United Men Solid Black Track Pants
4,53759,Men,Apparel,Topwear,Tshirts,Grey,Summer,2012.0,Casual,Puma Men Grey T-shirt

In [30]:
df.describe

<bound method NDFrame.describe of           id gender masterCategory subCategory            articleType  \
0      15970    Men        Apparel     Topwear                 Shirts
1      39386    Men        Apparel  Bottomwear                  Jeans
2      59263  Women    Accessories     Watches                Watches
3      21379    Men        Apparel  Bottomwear            Track Pants
4      53759    Men        Apparel     Topwear                Tshirts
...      ...    ...            ...         ...                    ...
44419  17036    Men       Footwear       Shoes           Casual Shoes
44420   6461    Men       Footwear  Flip Flops             Flip Flops
44421  18842    Men        Apparel     Topwear                Tshirts
44422  46694  Women  Personal Care   Fragrance  Perfume and Body Mist
44423  51623  Women    Accessories     Watches                Watches

      baseColour  season    year   usage  \
0      Navy Blue    Fall  2011.0  Casual
1           Blue  Summer  2012.0  Casual
2         Silver  Winter  2016.0  Casual
3          Black    Fall  2011.0  Casual
4           Grey  Summer  2012.0  Casual
...          ...     ...     ...     ...
44419      White  Summer  2013.0  Casual
44420        Red  Summer  2011.0  Casual
44421       Blue    Fall  2011.0  Casual
44422       Blue  Spring  2017.0  Casual
44423       Pink  Winter  2016.0  Casual

                                    productDisplayName                   path  \
0                     Turtle Check Men Navy Blue Shirt  data/images/15970.jpg
1                   Peter England Men Party Blue Jeans  data/images/39386.jpg
2                             Titan Women Silver Watch  data/images/59263.jpg
3        Manchester United Men Solid Black Track Pants  data/images/21379.jpg
4                                Puma Men Grey T-shirt  data/images/53759.jpg
...                                                ...                    ...
44419                        Gas Men Caddy Casual Shoe  data/images/17036.jpg
44420               Lotto Men's Soccer Track Flip Flop   data/images/6461.jpg
44421             Puma Men Graphic Stellar Blue Tshirt  data/images/18842.jpg
44422                   Rasasi Women Blue Lady Perfume  data/images/46694.jpg
44423  Fossil Women Pink Dial Chronograph Watch ES3050  data/images/51623.jpg

                                                new_path
0      data/new/15970_Men_Apparel_Topwear_Shirts_Navy...
1      data/new/39386_Men_Apparel_Bottomwear_Jeans_Bl...
2      data/new/59263_Women_Accessories_Watches_Watch...
3      data/new/21379_Men_Apparel_Bottomwear_Track Pa...
4      data/new/53759_Men_Apparel_Topwear_Tshirts_Gre...
...                                                  ...
44419  data/new/17036_Men_Footwear_Shoes_Casual Shoes...
44420  data/new/6461_Men_Footwear_Flip Flops_Flip Flo...
44421  data/new/18842_Men_Apparel_Topwear_Tshirts_Blu...
44422  data/new/46694_Women_Personal Care_Fragrance_P...
44423  data/new/51623_Women_Accessories_Watches_Watch...

[44424 rows x 12 columns]>

In [35]:
df['productDisplayName'] = df['productDisplayName'].apply(lambda x: str(x).replace('/', '\\'))

In [36]:
df['path'] = df['id'].apply(lambda x: os.path.join('data/images/', f'{x}.jpg'))
df['new_path'] = df.apply(lambda x: os.path.join('data/new/', f'{x.id}_{x.gender}_{x.masterCategory}_{x.subCategory}_{x.articleType}_{x.baseColour}_{x.season}_{x.year}_{x.usage}_{x.productDisplayName}.jpg'),axis=1)

In [37]:
df

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName,path,new_path
0,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,2011.0,Casual,Turtle Check Men Navy Blue Shirt,data/images/15970.jpg,data/new/15970_Men_Apparel_Topwear_Shirts_Navy...
1,39386,Men,Apparel,Bottomwear,Jeans,Blue,Summer,2012.0,Casual,Peter England Men Party Blue Jeans,data/images/39386.jpg,data/new/39386_Men_Apparel_Bottomwear_Jeans_Bl...
2,59263,Women,Accessories,Watches,Watches,Silver,Winter,2016.0,Casual,Titan Women Silver Watch,data/images/59263.jpg,data/new/59263_Women_Accessories_Watches_Watch...
3,21379,Men,Apparel,Bottomwear,Track Pants,Black,Fall,2011.0,Casual,Manchester United Men Solid Black Track Pants,data/images/21379.jpg,data/new/21379_Men_Apparel_Bottomwear_Track Pa...
4,53759,Men,Apparel,Topwear,Tshirts,Grey,Summer,2012.0,Casual,Puma Men Grey T-shirt,data/images/53759.jpg,data/new/53759_Men_Apparel_Topwear_Tshirts_Gre...
...,...,...,...,...,...,...,...,...,...,...,...,...
44419,17036,Men,Footwear,Shoes,Casual Shoes,White,Summer,2013.0,Casual,Gas Men Caddy Casual Shoe,data/images/17036.jpg,data/new/17036_Men_Footwear_Shoes_Casual Shoes...
44420,6461,Men,Footwear,Flip Flops,Flip Flops,Red,Summer,2011.0,Casual,Lotto Men's Soccer Track Flip Flop,data/images/6461.jpg,data/new/6461_Men_Footwear_Flip Flops_Flip Flo...
44421,18842,Men,Apparel,Topwear,Tshirts,Blue,Fall,2011.0,Casual,Puma Men Graphic Stellar Blue Tshirt,data/images/18842.jpg,data/new/18842_Men_Apparel_Topwear_Tshirts_Blu...
44422,46694,Women,Personal Care,Fragrance,Perfume and Body Mist,Blue,Spring,2017.0,Casual,Rasasi Women Blue Lady Perfume,data/images/46694.jpg,data/new/46694_Women_Personal Care_Fragrance_P...
44423,51623,Women,Accessories,Watches,Watches,Pink,Winter,2016.0,Casual,Fossil Women Pink Dial Chronograph Watch ES3050,data/images/51623.jpg,data/new/51623_Women_Accessories_Watches_Watch...

In [40]:
for i, a in df.iterrows():
    try:
        shutil.copy(src=a.path, dst=a.new_path)
    except:
        continue